.video {
    height: 745px;

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 245px;
        flex-wrap: wrap;

        video {
            width: 935px;
            max-width:100%;
            height: auto;
            max-height: 100%;
        }
    }
}